<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Font style -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abel" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Chivo" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Dancing+Script" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div id="dumb-menu">
        <nav class="menu">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">FLAVORS</a></li>
                <li><a href="#">BOOK AN EVENT</a></li>
                <li><a href="#">ABOUT</a></li>
            </ul>
        </nav>
        <nav class="social-icon">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-vine"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="page page-home">
        <header>
            <span>500 Terry Francois Street San Francisco, CA 94158 &nbsp;| &nbsp;Daily 10AM-10PM &nbsp;</span>
        </header>
        <section>
            <a href="#" target="_self">Gelato</a>
            <img src="images/ice-cream-gelato.png" alt="ice cream gelato" />
            <h1>HAND CRAFTED</h1>
            <h2>ICE CREAM</h2>
            <a href="#" class="button button1">MENU</a>
        </section>
    </div>
    <div class="page-awesome page-flavors">
        <aside>
            <img src="images/flavors-ice-cream.png" alt="Out flavors ice cream. Fresh n'tasty">
        </aside>
        <section>
            <div>
                <h1>OUR FLAVORS</h1>
                <h2>Fresh n' Tasty!</h2>
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                <a href="#" class="button button2">MENU</a>
            </div>
        </section>
    </div>
    <div class="page page-enjoy">
        <div class="bg-layer">
            <img src="images/enjoy.png" alt="Enjoy dairy free">
        </div>
        <section>
            <h1>ENJOY</h1>
            <h2>DAIRY FREE</h2>
            <a href="#" class="button button1">MENU</a>
        </section>
    </div>
    <div class="page-awesome page-place">
        <aside>
            <img src="images/place.png" alt="Our place">
        </aside>
        <section>
            <div>
                <h1>OUR PLACE</h1>
                <h2>Ice cream by the sea</h2>
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                <a href="#" class="button button2">READ MORE</a>
            </div>
        </section>
    </div>
    <div class="page page-events">
        <section>
            <img src="images/events.png" alt="Events">
            <h1>CATERING &#38; MORE</h1>
            <h2>EVENTS</h2>
            <a href="#" class="button button1">MAKE A WISH</a>
        </section>
    </div>
    <div class="page-awesome page-desserts">
        <aside>
            <img src="images/desserts.png" alt="desserts">
        </aside>
        <section>
            <div>
                <h1>DESSERTS</h1>
                <h2>Ice cream goodies</h2>
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                <a href="#" class="button button2">MENU</a>
            </div>
        </section>
    </div>
    <div class="page page-ball">
        <section>
            <img src="images/ice-ball.png" alt="">
            <span>&#35;DOUBLE TAP</span>
        </section>
    </div>
    <footer>
        <div class="footer-content">
            <section>
                <span>ADDRESS</span>
                <span>500 Terry Francois St.</span>
                <span>San Francisco, </span>
                <span>CA 94158</span>
            </section>
            <section>
                <span>CONTACT</span>
                <span>info@mysite.com</span>
                <span>Tel: 123-456-7890</span>
            </section>
            <section>
                <span>HOURS</span>
                <span>OPEN DAILY</span>
                <span>10AM-8PM</span>
            </section>
            <section>
                <span>MAILING LIST</span>
                <form action="">
                    <input type="email" name="" placeholder="Email Address" />
                    <input type="submit" name="" value="SUBSCRIBE">
                </form>
                <nav class="social-icon">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-vine"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </nav>
            </section>
        </div>
        <copyright>&copy;2017 by SugarT. Proudly created with <a href="#"> Wix.com</a></copyright>
    </footer>
</body>

</html>